public/
resources/_gen/
.hugo_build.lock

server/
deploy/
scripts/

.DS_Store
Thumbs.db

*.swp
*.swo
*~
.idea/
.vscode/

*.log

*.key
*.pem
*.env
.env*

node_modules/
package-lock.json

rewards-api/api/__pycache__/
rewards-api/api/*.db
rewards-api/api/venv/
*.pyc
__pycache__/

*.bak
*.tmp
*.temp
